### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
.metadata/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## === Only track eunsunJeong folder and its contents ===
#*
#!src/
#!src/CodeTest/
#!src/CodeTest/eunsunJeong/
#!src/CodeTest/eunsunJeong/**